
	@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
	*{
	  margin: 0px;
	  padding: 0px;
	  box-sizing: border-box;
	  font-family: 'Poppins', sans-serif;
	}
	::selection{
	  background-image:url("andela1.jpg");
	  color: #fff;
	}
	html,body{
	  display: grid;
	  height: 100%;
	  place-items: center;
	  background-image:url("andela1.jpg");
	}
	nav{
		display: flex;
		height: 80px;
		width: 100%;
		background: #1b1b1b;
		align-items: center;
		justify-content: space-between;
		padding: 0 50px 0 100px;
		flex-wrap: wrap;
	  }
	  nav .logo{
		color: #fff;
		font-size: 35px;
		font-weight: 600;
	  }
	  nav ul{
		display: flex;
		flex-wrap: wrap;
		list-style: none;
	  }
	  nav ul li{
		margin: 0 5px;
	  }
	  nav ul li a{
		color: #f2f2f2;
		text-decoration: none;
		font-size: 18px;
		font-weight: 500;
		padding: 8px 15px;
		border-radius: 5px;
		letter-spacing: 1px;
		transition: all 0.3s ease;
	  }
	  nav ul li a.active,
	  nav ul li a:hover{
		color: rgb(28, 2, 143);
		background: #fff;
	  }
	  nav .menu-btn i{
		color: #fff;
		font-size: 22px;
		cursor: pointer;
		display: none;
	  }
	.container{
	  max-width: 1100px;
	  display: flex;
	  justify-content: space-between;
	  align-items: center;
	  flex-wrap: wrap;
	padding: 5px;
	}
	.container .box{
	width: calc(33%);
	height: calc(450px);
	  background: #fff;
	  display: flex;
	  flex-direction: column;
	  justify-content: center;
	  align-items: center;
	  padding: 20px 30px;
	  border-radius: 5px;
	margin-bottom: 10px;
		margin-right: 0px;
	}
	.box .quote i{
	margin-top: 10px;
	font-size: 45px;
	color: #17c0eb
	}
	.container .box .image{
	height: 100px;
		width: 88px;
	  background: #8e44ad;
	  padding: 3px;
	border-radius: 50%;
	}
	.box .image img{
	  height: 100%;
	  width: 100%;
	border-radius: 50%;
	  object-fit: cover;
	  border: 2px solid #fff;
	}
	.box p{
	  text-align: justify;
	  margin-top: 8px;
	  font-size: 16px;
	  font-weight: 400;
	}
	.box .name_job{
	  margin: 10px 0 3px 0;
	  color: #8e44ad;
	  font-size: 18px;
	  font-weight: 600;
	}
	
	.btns{
	  margin-top: 20px;
	  margin-bottom: 5px;
	  display: flex;
	  justify-content: space-between;
	  width: 100%;
	}
	.btns button{
	  background: #8e44ad;
	  width: 100%;
	  padding: 9px 0px;
	  outline: none;
	  border: 2px solid #8e44ad;
	  border-radius: 5px;
	  cursor: pointer;
	  font-size: 18px;
	  font-weight: 400;
	  color: #8e44ad;
	  transition: all 0.3s linear;
	}
	.btns button:first-child{
	  background: none;
	  margin-right: 5px;
	}
	.btns button:last-child{
	  color: rgb(19, 10, 146);
	  margin-left: 5px;
	}
	.btns button:first-child:hover{
	  background: #8e44ad;
	  color: #fff;
	}
	.btns button:hover{
	  color: rgb(52, 8, 122);
	}
	@media (max-width:1045px){
	  .container .box{
		width: calc(50% - 10px);
		margin-bottom: 20px;
	  }
	}
	@media (max-width:710px){
	  .container .box{
		width: 100%;
	  }
	}

	@media (max-width: 920px) {
		nav .menu-btn i{
		  display: block;
		}
		#click:checked ~ .menu-btn i:before{
		  content: "\f00d";
		}
		nav ul{
		  position: fixed;
		  top: 80px;
		  left: -100%;
		  background-image: url("pic3.png");
		  height: 100vh;
		  width: 40%;
		  text-align: left;
		  display: block;
		  transition: all 0.3s ease;
		}
		#click:checked ~ ul{
		  left: 0;
		}
		nav ul li{
		  width: 100%;
		  margin: 40px 0;
		}
		nav ul li a{
		  width: 100%;
		  margin-left: -100%;
		  display: block;
		  font-size: 20px;
		  transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
		}
		#click:checked ~ ul li a{
		  margin-left: 0px;
		}
		nav ul li a.active,
		nav ul li a:hover{
		  background: none;
		  color: cyan;
		}
	  }
	  
:root {
	--red: rgb(209, 3, 3);
	--white: rgb(32, 104, 170);
	--black: #000;
}

.btn {
	width: 100px;
	height: 44px;
	outline: 0;
	border: 2px solid #ccc;
	color: #000;
	cursor: pointer;
	overflow: hidden;
	position: relative;
	display: flex;
	justify-content: space-between;
	box-shadow: 0px 3px 25px rgba(0, 0, 0, 0.05);
	transition: 1.5s cubic-bezier(.21, .04, .26, .99);
}

.btn:hover {
	box-shadow: 0px 3px 25px rgba(0, 0, 0, 0.2);
	border-color: var(--red);
}

.btn-like {

	font-size: 2rem;
	border-radius: 10px;
	background: rgb(14, 60, 119);
	transition: 1.5s cubic-bezier(.21, .04, .26, .99);
}

.btn-like.liked {
	background: var(--red);
	border-color: var(--red);
}

/*-- Button Icon -- */
.btn-icon {
	display: inline-block;
	width: 32px;
	height: 36px;
	position: absolute;
	left: 1.5rem;
	transition: 1s cubic-bezier(.21, .04, .26, .99);
	transform: rotate(0deg)
}

.btn:hover .btn-icon {
	color: var(--red);
}

.btn.liked:hover .btn-icon {
	color: var(--black);
}

.liked .btn--icon-default {
	transform: rotate(-90deg)
}

.btn:not(.liked).btn--icon-liked {
	transform: rotate(-90deg)
}

.liked .btn--icon-default,
.btn--icon-liked {
	opacity: 0;
	color: rgb(54, 30, 161);
	position: absolute;
}

.btn--icon-default,
.liked .btn--icon-liked {
	opacity: 1;
	left: 1.5rem;
}

/*-- Button Content -- */
.btn-content {
	transition: transform 0.1s ease;
	display: inline-block;
	/* position: absolute;
		right: 0; */
}

.liked .btn-content {
	color: var(--white);
}

.btn:hover.liked .btn-content {
	color: var(--black);
}

.btn:not(.liked) .btn-content--liked {
	transform: translate(110px)
}

.btn:not(.liked) .btn-content--default {
	transform: translate(-56px)
}

.liked .btn-content--default {
	transform: translate(24px)
}


.container_comments {
	max-width: 640px;
	margin: 30px auto;
	background: #f3f3f7;
	border-radius: 8px;
	padding: 20px;
}

.comment {
	width: 400px;
	display: block;
	size: 16px;
	transition: all 1s;
}

.commentClicked {
	min-height: 0px;
	border: 1px solid #eee;
	border-radius: 5px;
	padding: 5px 10px
}

.likes {
	display: flex;
}