
 *{
   padding: 0;
   margin: 0%;
   box-sizing: b;
 }
  .navBar{
    margin-left: 100px;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    
    background-color: #aaa7a7;
    width: 92.5%;
    height: 60px;
    position: relative;
    top: 0;
    left: 0;
    z-index: 10;
  }
  .navList{
    padding-top: 15px;
    padding-right: 40px;
  display: flex;
  justify-content: space-between;
  
 width: 70%;
  height: 40px;
  font-size: 20px;
color: black;
  }
  
  
  .myCv{
    background-color: blue;
    color: white;
    width: 70px;
    height: 30px;
  
  }
  a:link {
    color: rgb(11, 12, 11);
    text-decoration:none;
  }
  
  a:visited {
    color: rgb(196, 10, 41);
  }
  

 .logo{
   color: 
   rgb(238, 15, 15);
   padding-top: 15px;
   margin-left: 40px;
 }
 .row{
   display: flex;
 }
 
.column1{
  margin: 70px;
  margin-left: 90px;
  margin-top: 100px;
}
.read-story{
background-color: #aaa7a7;
width: 100px;
height: 40px;
margin-left: 100px;
}
.column2{
  padding-top: 140px;
}

.social-media{
  display: flex;
  
justify-content: space-between;
  padding-top: 150px;
  padding-left: 300px;
}

i {
  padding-left: 10px;
  }
  span{
    color: white;
  }

